<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @zip.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @zip.description %>
</p>

<%= link_to 'Edit', edit_zip_path(@zip) %> |
<%= link_to 'Back', zips_path %>
