<%= form_with(model: zip_code, local: true) do |form| %>
  <% if zip_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(zip_code.errors.count, "error") %> prohibited this zip_code from being saved:</h2>

      <ul>
      <% zip_code.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :zip_code %>
    <%= form.text_field :zip_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
